header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #f63232;
  text-align: center;
}
.banner {
  position: relative;
}
.banner img {
  max-width: 100%;
}
.banner .welcome {
  position: absolute;
  left: 0;
  top: 30%;
  padding: 5%;
  color: white;
  background-color: #feb614;
}
.banner h2 {
  font-size: xx-large;
}
.banner h2 span {
  font-size: 1.3em;
}
